.header {
    background-color: #ffdbff;
    height:10vh;
    padding:15px;
    display: flex;
    flex-direction: row;
    gap:15vw;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
  background-color: rgb(241, 241, 240);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    margin-left: 20px;
   justify-content: center;
   align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 17px;
   
}
